@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,500&family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  margin: 30px auto;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.menus {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.menus a {
  text-decoration: none;
  color: #3c354f;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-left: 20px;
}
.menus button {
  width: 262px;
  height: 56px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  margin-left: 20px;
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  border: none;
}
.nav-title {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}
.nav-title span {
  color: #ff42a5;
}
.logo-img {
  width: 86.041px;
  height: 40px;
  margin-right: 15px;
}
/* main banner */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 13.13%,
    rgba(255, 66, 165, 0.03) 87.94%
  );
  margin-top: 40px;
}
.banner-img {
  width: 711px;
  height: 446px;
}
.space-btn {
  margin-top: 30px;
}
.banner-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-dot {
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
}
.btn-primary {
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  background: var(
    --Linear,
    linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
  );
  color: #fff;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.btn-primary:hover {
  background-color: greenyellow;
}
.btn-secondary {
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  background: #4ec5f7;
  color: #fff;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.icon {
  color: red;
  margin-left: 10px;
}
/* funny videos section */
.funny-videos {
  margin-top: 50px;
}
.funny-title {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
}
.funny-content span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}
.description {
  color: #534c64;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}
.funny-content {
  text-align: center;
}
/* four img */
.four-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 50px auto;
}
.img-width {
  width: 342px;
  height: 400px;
}
/* play instantly */
.play-instant-section {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.play-content {
  text-align: right;
}
.play-ins {
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  color: #ff42a5;
}
.play-title {
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}
.relative-img {
  width: 634.833px;
  height: 650px;
  border-radius: 8px;
  margin-top: 40px;
}
.rel-img {
  position: relative;
  top: -300px;
  right: 140px;
}
.img-style {
  box-shadow: 1px 1px 6px gray;
  border-radius: 14px;
}
/* btn group */
.btn-group {
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.same-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid purple;
  border-radius: 5px;
  padding: 5px 10px;
  color: #0b0223;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
}
.same-div img {
  margin-right: 15px;
}
.same-div:hover {
  background-color: #8758f1;
  color: white;
}
/* footer */
.footer {
  margin-top: 150px;
  background: #0b0223;
  padding-top: 100px;
  width: 100%;
  height: 636px;
}
.footer-title {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px auto;
}
#sp {
  color: #fff;
}
.G {
  color: #ff42a5;
}
ul li {
  color: #fff;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 600;
  list-style: none;
}
.some-content ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
  flex-wrap: wrap;
}
.tw {
  color: white;
}
.yr {
  color: red;
}
.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 50px;
}
.l {
  color: white;
}
.text1 {
  text-align: center;
}
.social-icon li a:hover {
  cursor: pointer;
}
